<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.walkarround"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="19"/>
    <application
        android:name=".base.WalkArroundApp"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
		android:theme="@style/ActivityNoAnimation">
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".login.activity.NickNameActivity" />
        <activity android:name=".login.activity.PhoneAndPasswordActivity" />
        <activity android:name=".login.activity.CheckSMSCodeActivity" />
        <activity android:name=".login.activity.LoginActivity" />
        <activity android:name=".setting.activity.AppSettingActivity" />
        <activity android:name=".myself.activity.MyselfActivity" />
    </application>
</manifest>
